{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>LT.Care | Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<style>
body{
    background-image: url("{% static 'images/logsigBG.jpg' %}");
}
</style>

<body>

    <div class="div-box">
        <div class="heading">
            <h1>Login</h1>
        </div>
        <div class="form-div">
            <div class="input-forms">
                <div class="forms">
                    <label></label>
                    <input id="mob" type="text" placeholder="Enter your number">
                    <p id="message"></p>
                </div>
                <div class="forms">
                    <label></label>
                    <input type="password" placeholder="Enter Password" id="password">
                </div>
                <div class="forms form-button">
                    <button onclick="checkAuth()" type="submit">Login</button>
                    <!-- <button onclick="signup()" type="Sign">Signup</button> -->
                </div>
            </div>
        </div>
    </div>
    <!-- <script src="{% static 'js/login.js' %}"></script> -->
     <script>
        function checkAuth()
        {
            var mob = $('#mob').val();
            var passd = $('#password').val();
            
            $.ajax({
                type:'POST',
                url:'/login_check/',
                data:{"mob":mob, "password":passd},
                success: function(data){
                   if (data["status"] == "pass")
                   {
                    console.log("Welcome ", data["name"]);
                    if(data["role"] == "Employee")
                    {
                        window.location.replace("/employee")
                    }
                    else if(data["role"] == "Customer")
                    {
                        window.location.replace("/ticket")
                    }
                    else if(data["role"] == "Admin")
                    {
                        window.location.replace("/view_user")
                    }
                    else if(data["role"] == "Tech-Lead")
                    {
                        window.location.replace("/lead/")
                    }
                   }
                   else
                   {
                    alert("login failed");
                   }
                }
            });
        }
     </script>
</body>

</html>